.body {
}
.ws {
font-style:italic;
}
.R {
font-style:normal;
font-weight:bold; 
margin-right:5px;
border-right:5px;
padding-right:5px;
font-size:16px;
float:left;
}
.bt {
margin-left:20px;
float:left;
padding-right:25px;
}
.btvt {
margin-left:40px;
}
.vw {
font-weight:bold;
}
.ui, .la {
text-decoration:underline;
display: inline;
}
.gr {
font-style:italic;
}
.id {
font-style:italic;
margin-left:20px;
}
.idvt {
margin-left:40px;
}
.vb {
font-style:italic;
margin-left:20px;
margin-top:5px;
}
.vbvt {
margin-left:40px;
}
.restr {
font-style:italic;
display:inline;
font-size:13px;
}
.vtg {
font-style:italic;
font-weight:bold;
display:inline;
}
